.sw-btn {
     padding: 8px 18px;
     cursor: pointer;
     border: .2rem solid rgba(0, 0, 0, 0.25);
     border-radius: 25px;
     color: #fff;
     background-color: rgba(0, 0, 0, 1);
     box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
     font-weight: 200;
}

.sw-btn:hover {
     color: #000;
     background-color: rgba(255, 255, 255, .4);
     border: .2rem solid rgba(0, 0, 0, 0.75);
}

.btn-large {
     font-size: large;
}