@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252A; */
}

body {
  font-family: "Kanit", sans-serif;
}

.title-banner {
  font-size: 64px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
  color: #000;
  /* text-shadow: 2px 2px rgba(255, 184, 3, 1); */
}

.desc-banner {
  font-size: 44px;
  font-weight: 500;
  color: #424242;
  /* text-transform: uppercase; */
  margin-top: -1.4rem;
  margin-bottom: 0.4rem;
  /* text-shadow: 2px 2px rgba(0, 0, 0, 0.5); */
}

