li, a {
     font-family: "Kanit", sans-serif;
     font-weight: 500;
     font-size: 16px;
     color: #000;
     text-decoration: none;
}


ol, ul, dl {
     margin-bottom: 0;
}

header {
     position: fixed;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 7%;
}

nav {
     display: flex;
     justify-content: center;
     align-items: center;
}

.logo {
     cursor: pointer;
     margin-right: auto;
}

.nav-links {
     list-style: none;
}

.nav-links li {
     display: inline-block;
     padding: 0px 12px;
     align-items: center;
}

.nav-links li a {
     align-items: center;
}

.nav-links li a:hover{
     color: rgba(0, 0, 0, 1);
     text-decoration: underline;
     text-decoration-color:rgba(255, 184, 3, 1);
     text-decoration-thickness: 4px;
}

.sarngweb-header {
     height: 64px;
     /* background-color: #f0f2f5; */
     background-color: rgba(240, 242, 245, 0.98);
     box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.55);
     z-index: 1;
}

.sarngweb-nav-logo {
     max-height: 50px;
     max-width: 180px;
}